<!--<app-menu></app-menu>-->

<main>
    <div class="container">
                <br>
        <br>
        <table class="navbar navbar-expand-lg navbar-dark bg-dark" style="float: right;">
            <th>
                <tr>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/clientes" style="text-align: right;color: white;">Atrás</a>
                        </li>
                    </ul>
                </tr>
            </th>
        </table>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 py-3">
                <div class="card">
                    <div class="card-header">
                        <h5>Nueva Visita</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="cliente">Cliente</label>
                                <input class="form-control" type="text" placeholder="Cliente" name="cliente" id="cliente">
                            </div>
                            <div class="form-group">
                                <label for="tratamiento">Tratamiento</label>
                                <input class="form-control" type="text" placeholder="Tratamiento" name="tratamiento" id="tratamiento">
                            </div>
                            <div class="form-group">
                                <label for="medicamento">Medicamento</label>
                                <input class="form-control" type="text" placeholder="Medicamento" name="medicamento" id="medicamento">
                            </div>
                            <div class="form-group">
                                <label for="total">Total</label>
                                <input class="form-control" type="text" placeholder="Total" name="total" id="total">
                            </div>
                            <button class="btn btn-success" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>