<!--<app-menu></app-menu>-->

<main>
    <div class="container">
        <br>
        <br>
        <table class="navbar navbar-expand-lg navbar-dark bg-dark" style="float: right;">
            <th>
                <tr>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/clientes" style="text-align: right;color: white;">Atrás</a>
                        </li>
                    </ul>
                </tr>
            </th>
        </table>
    </div>
</main>
